<form [formGroup]="form">
<!--  <tui-notification *ngIf="passwordChanged" status="success">-->
<!--    {{ 'PASSWORD_SUCCESSFULLY_UPDATED' | translate }}-->
<!--  </tui-notification>-->

  <div class="text-center pb-3">
    <h4 class="py-5">
      Login
    </h4>

    <p *ngIf="(error$ | async)! as error" class="text-danger">
      {{ error }}
    </p>
  </div>

  <tui-input
    *tuiLet="(firstInputText$ | async)! as txt"
    formControlName="email"
    class="pb-5"
  >
    {{ txt }}
  </tui-input>

  <tui-textfield class="pb-8">
    <label tuiLabel>Mot de passe</label>
    <input
      formControlName="password"
      placeholder="I am placeholder"
      tuiTextfield
      type="password"
    />
    <tui-icon tuiPassword />
  </tui-textfield>

  <button
    tuiButton
    appearance="secondary"
    [disabled]="form.invalid"
    (click)="submit()"
    class="w-full mb-4"
  >
    Login
  </button>

<!--  <div class="text-center">-->
<!--    <a [routerLink]="'forgot-password'" class="no-underline text-primary">-->
<!--      {{ 'FORGOT_PASSWORD_?' | translate }}-->
<!--    </a>-->
<!--  </div>-->
</form>
